:root {
  /* color */
  --color-black: #3f454d;
  --color-white: #ffffff;
  --color-def: #EA306F;
  --color-ex: #32898C;
  --color-cons: #3b88c3;
  --color-pros: #fbbe28;
  --color-tools: #8BE2E5;
  --color-pink: #fd7f84;
  --color-light-grey: #dfdfdf;

  /* size */
  --base-space: 8px;
  --size-button: 60px;
  --size-border: 4px;
  --size-thumbnail: 50px;
  --font-size: 18px;

  /* annimation */
  --animation-duration: 300ms;
}

body {
  height: 100vh;
  background-color: var(--color-black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  width: auto;
  height: 100px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: transform var(--animation-duration) ease;
}

.btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: transform var(--animation-duration) ease;
  margin-right: var(--base-space);
}

.btn:hover,
.logo:hover {
  transform: scale(1.1);
}

.buttons {
  display: flex;
  align-items: center;
}

.imgBtn {
  width: var(--size-button);
  height: var(--size-button);
}

.colorBtn {
  font-size: var(--font-size);
  padding: calc(var(--base-space) * 2);
  border-radius: var(--size-border);
}

.def {
  background-color: var(--color-def);
}

.ex {
  background-color: var(--color-ex);
}

.cons {
  background-color: var(--color-cons);
}

.pros {
  background-color: var(--color-pros);
}


.tools {
  background-color: var(--color-tools);
}

.pink {
  background-color: var(--color-pink);
}

.items {
  width: 60%;
  height: 60%;
  list-style: none;
  padding-left: 0;
}

.item {
  background-color: var(--color-white);
  padding: var(--base-space);
  margin-bottom: var(--base-space);
}

.item.invisible {
  background-color: var(--color-white);
  display: none;
}

.item__thumbnail {
  width: var(--size-thumbnail);
  height: var(--size-thumbnail);
}
.item__def {
  font-weight: 700;
  color: #EA306F;
  margin-left: var(--base-space);
  font-size: var(--font-size);
}

.item__ex {
  font-weight: 700;
  color: #32898C;
  margin-left: var(--base-space);
  font-size: var(--font-size);
}

.item__cons {
  font-weight: 700;
  color: blue;
  margin-left: var(--base-space);
  font-size: var(--font-size);
}
.item__pros {
  font-weight: 700;
  color: orange;
  margin-left: var(--base-space);
  font-size: var(--font-size);
}

.item__tools {
  font-weight: 700;
  color: #8BE2E5;
  margin-left: var(--base-space);
  font-size: var(--font-size);
}
.item__description {
  margin-left: var(--base-space);
  font-size: var(--font-size);
}
